<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div>
      <a href="/" class="back">← MAIN</a>
      <header>
        <h1 class="greeting">See You Again</h1>
        <span>- Remember Elice SW 3rd -</span>
      </header>

      <main id="root">
        <div class="coach_area">
          <section class="coach_profile">
            <div class="img_contanier">
              <img src="" alt="" />
            </div>
            <p class="coach_name"></p>
          </section>
          <section class="compliment_area">
            <div class="add_compliment">
              <input
                type="button"
                value="칭찬 한마디"
                class="compliment_button"
              />
            </div>
            <div class="compliment_list">
              <ul></ul>
            </div>
          </section>
        </div>
      </main>
      <footer class="footer">
        <p class="author">Author by Oh HyunSug, Ji Sian, Park Woochan</p>
        <p class="copyright">Copyright ⓒ 2021 - 2022 잇힝♥</p>
      </footer>
    </div>

    <script src="/scripts/coach.js"></script>

  </body>
</html>
