<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../client/css/style.css" />
  </head>
  <body>
    <div>
      <header>
        <p class="greeting">See You Again</p>
        <span>- Remember Elice SW 3rd -</span>
      </header>
      <main id="root">
        <section class="select_coach">
          <a class="theory_coach coach coach_page" href="./coach.html">
            <div class="img_contanier">
              <img src="../../client/images/이론.png" alt="" />
            </div>
            <p class="coach_name">박연미 코치님</p>
          </a>
          <div class="first_class_coach coach coach_page">
            <div class="img_contanier">
              <img src="" alt="" />
            </div>
            <p class="coach_name">??? 코치님</p>
          </div>
          <div class="second_class_coach coach coach_page">
            <div class="img_contanier">
              <img src="../../client/images/2반.png" alt="" />
            </div>
            <p class="coach_name">조재훈 코치님</p>
          </div>
        </section>
      </main>
      <footer class="footer">
        <p class="author">Author by Elice</p>
        <p class="copyright">Copyright ⓒ 2021 - 2022 잇힝♥</p>
      </footer>
    </div>
    <script src="../../client/scripts/main.js"></script>
  </body>
</html>
