<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div>
      <header>
        <h1 class="greeting">See You Again</h1>

        <span>- Remember Elice SW 3rd -</span>
      </header>
      <main id="root">
        <section class="select_coach">
          <div class="theory_coach coach coach_page">
            <div class="img_contanier">
              <img src="/images/이론.png" alt="박연미코치님이미지" />
            </div>
            <p class="coach_name">박연미 코치님</p>
          </div>
          <div class="first_class_coach coach coach_page">
            <div class="img_contanier">
              <img src="/images/1반.png" alt="이현진코치님이미지" />
            </div>
            <p class="coach_name">이현진 코치님</p>
          </div>
          <div class="second_class_coach coach coach_page">
            <div class="img_contanier">
              <img src="/images/2반.png" alt="조재훈코치님이미지" />
            </div>
            <p class="coach_name">조재훈 코치님</p>
          </div>
        </section>
      </main>
      <footer class="footer">
        <p class="author">Author by Oh HyunSug, Ji Sian, Park Woochan</p>
        <p class="copyright">Copyright ⓒ 2021 - 2022 잇힝♥</p>
      </footer>
    </div>
    <script src="/scripts/main.js"></script>
  </body>
</html>
